@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --illustration: #ffdd9f;
  --primaryColor: #f09833;
}

body {
  font-size: 10px;
  height: 100vh;
  padding: 50px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

/*  * grid container */

.grid-container {
  display: grid;
  border-radius: 25px;
  overflow: hidden;
  /* background-color: #fff; */
  height: calc(100vh - 100px);
  width: 80%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: url(../images/formBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* * Illustration */

.illustration {
  /* background-color: var(--illustration); */
  height: 100%;
  display: grid;
  place-items: center;
}

.illustration img {
  width: clamp(200px, 50%, 500px);
  transform: scaleX(-100%);
}

/* * FORM */
.form {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(../images/formBG.jpg); */
}

@media (min-width: 1400px) {
  .form {
    padding: 100px;
  }
}

.form .logo {
  width: 150px;
  margin-bottom: 30px;
}
.form .logo img {
  width: 100%;
  display: block;
}

.form .login,
.form .register {
  width: 100%;
}

.form .form_input {
  width: 70%;
  max-width: 400px;
  margin: auto;
  position: relative;
  height: 50px;
  margin-bottom: 25px;
}
.form .form_input label {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 0.9rem;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 2px 6px;
  transition: 0.35s ease;
}
.form .form_input input:focus ~ label,
.form .form_input input.active ~ label {
  top: -11px;
  font-size: 0.8rem;
  color: var(--primaryColor);
  transform: translateY(0);
  outline: 1px solid var(--primaryColor);
  border-radius: 15px;
  transition: 0.35s ease;
}

.form .form_input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 20px 20px 40px #e3e3e3, -20px -20px 40px #ffffff;
  font-size: 0.9rem;
  outline: none;
}

.form .form_input input:focus {
  outline: 1px solid var(--primaryColor);
}

.form .form_input .button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primaryColor);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.form .form_input .button span i {
  font-weight: 700;
  font-size: 1.5rem;
}

/* * PASSWORD TOGGLER */
.form .form_input .password_toggler {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  cursor: pointer;
  color: #888;
  transition: 0.25s ease;
  /* background-color: #f00; */
  background-image: linear-gradient(to left, white 80%, transparent);
  width: 40px;
  text-align: right;
  height: 100%;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
}
.form .form_input .password_toggler:hover {
  color: #222;
}

.form .form_input .password_toggler::after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: #bbb;
  position: absolute;
  border-radius: 5px;
  top: 12px;
  left: 29px;
  transform: rotate(45deg) scale(0);
  transition: 0.3s ease;
}
.form .form_input .password_toggler.active {
  opacity: 1;
  visibility: visible;
}
.form .form_input .password_toggler.show::after {
  transform: rotate(45deg) scale(1);
}

.rotation {
  animation: rotation 1s linear infinite;
  display: inline-block;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
