@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

h2 {
  font-weight: 700;
}
.faqWrapper {
  max-width: 800px;
}

.faqWrapper h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3.2rem;
}

.accordion_header {
  position: relative;
}
.accordion {
  width: 800px;
}
.accordion .accordion_header button {
  width: 100%;
  text-align: left;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.3s ease;
}
.accordion.active .accordion_header .icon,
.accordion .accordion_header:hover .icon {
  color: white;
}
.accordion.active .accordion_header button,
.accordion .accordion_header:hover button {
  background-color: rgb(13, 126, 255);
  color: white;
}

.accordion_header .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
}

.accordion_body {
  max-height: 0;
  font-size: 1.6rem;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition:transform  0.35s ease;

}

.accordion_body.active {
  transition: transform 0.35s ease;
  padding: 10px;
  transform: scaleY(1);
  max-height: fit-content;
}
